

html{
    background: $dbg;
}

header.contact-header{
    background: url("../assets/contact-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.contact-sheet{
    background: $dbg;
    width: 100%;
    padding-bottom: 100px;
}

.social-box{
    width: 25%;
}
.icon-list{
    width: 35%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.icon-list a, a:link, a:visited{
    text-decoration: none;
    color: white
}

.social-box p{
    margin: 0;
}

.social-box h4{
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.contact-flex{
    display: flex;
    justify-content: space-between;
}

.contact-container{
    width: calc(65% - 30px);
    margin-left: 30px;
    background: $spruce;
    padding: 80px 50px;
    box-shadow: -35px 35px 0 -2px $robin;
    color: white;
    position: absolute;
    top: 250px;
    right: 80px;
    textarea{
        padding: 15px;
    }
}

.contact-container button[type=submit]{
    background: $dbg;
}

.h2-flex-contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -10px;
    z-index: 10;
}