
.blog-header{
    // width: 100%;
    background: url("../assets/blog-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    height: 80vh;
}

.h2-flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -50px;
}



