.blog-main{
    background: $dbg;
    width: 100%;
}

.blog-wrapper{
    width: 100%;
    max-width: 1920px;
    margin: 0;
}

.blog-flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.blog-post-side-bar{
    width: 35%;
    padding-top: 80px;
    position: relative;
    margin-right: 60px;

}

.aside-image{
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
}

.aside-image img{
    display: block;
    max-width: 100%;
    box-shadow: 20px 20px 0 -20px $spruce;
}

.aside-info{
    background: $spruce;
    width: 70%;
    padding-top: 30px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.aside-info-box, .aside-recent-posts{
    margin: 20px 20px;
}

.aside-recent-posts a{
    color: #fff;
}

.blog-entry{
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -350px;
    padding-left: 50px;
}

.blog-image{
    max-width: 100%;
}

.blog-image img{
    max-width: 100%;
    box-shadow: -20px 20px 0 2px $robin;
    position: relative;
    left: 22px;
}

.blog-text{
    border-left: 4px solid $robin;
    border-bottom: 4px solid $robin;
    padding-left: 19px;
    width: 80%;
}

.blog-text h3{
    margin-top: 50px;
    padding-left: 20px;
}

.byline{
    padding-bottom: 30px;
}
.blog-text p{
    width: 90%;
    text-align: left;
    padding-left: 20px;
}

.comment-area{
    width: 80%;

    h4{
        margin-bottom: 35px;
    }
    p{
        width: 70%;
        float: left;
    }

    .comment-date{
        margin-top: 0;
    }
    img{
        float: left;
        margin-right: 25px;
    }
}