.blog-main{
    background: $dbg;
    width: 100%;
}

.blog-wrapper{
    width: 100%;
    max-width: 1920px;
    margin: 0;
}

.blog-flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    // margin-bottom: -100px;
}

.blog-post-side-bar{
    width: 35%;
    padding-top: 80px;
    position: relative;
    margin-right: 60px;

}

.aside-image{
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 10;
}

.aside-image img{
    display: block;
    max-width: 100%;
    box-shadow: 20px 20px 0 -20px $spruce;
}

.aside-info{
    background: $spruce;
    width: 60%;
    min-width: 250px;
    padding-top: 390px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
    z-index: 0;
}

.aside-info-box, .aside-recent-posts{
    margin: 20px 20px;
}

.aside-recent-posts a{
    color: #fff;
}

.blog-entry{
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -420px;
    padding-left: 50px;
    margin-bottom: -350px;
}

.blog-image{
    width: 100%;
    
}

.blog-image img{
    width: 100%;
    box-shadow: -20px 20px 0 2px $robin;
    
}

.blog-text{
    padding-left: 19px;
    width: 80%;
    position: relative;
}

.blog-text::before{
    content: '';
    border-left: 5px solid $robin;
    height: 100%;
    display: block;
    position: absolute;
    left: -22px;
    top: 0px;
}

.blog-text::after{
    content: '';
    border-bottom: 5px solid $robin;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0px;
    left: -22px;
}


.blog-text h3{
    margin-top: 50px;
    padding-left: 20px;
}

.byline{
    padding-bottom: 30px;
}
.blog-text p{
    width: 90%;
    text-align: left;
    padding-left: 20px;
}

.comment-area{
    width: 80%;

    h4{
        padding-top: 30px;
        margin-bottom: 35px;
    }
    p{
        width: 80%;
        float: left;
    }

    .comment-date{
        margin-top: 0;
    }
    img{
        float: left;
        margin-right: 25px;
        width: 10%;
    }
}

.comment-box{
    width: 100%;
}

.comment-box input[type=text], input[type=email]{
    
    width: 50%;
    border: none;
    background: white;
    float: left;
    color: #fff;
    background: none;
    border-bottom: 2px solid $robin;
    padding-bottom: 25px;
}

.comment-box input[type=text]{
    width: calc(60% - 25px);
    margin-right: 25px;
    position: relative;
}

// .label-border::after{
//     content: '';
//     border: 2px solid red;
//     width: 100%;
//     height: 200px;
//     position: absolute;
//     bottom: -20px;
//     left: -20px;
//     display: block;
// }

.comment-box input[type=email]{
    width: 40%;
    position: relative;
}

::placeholder{
    color: #fffdfd;
}

.comment-box textarea{
    clear: both;
    width: 100%;
    margin-top: 40px;
    border: 1px solid $robin;
    background:none;
    resize: none;
}



.comment-box button[type=submit]{
    clear: both;
    display: block;
    width: 100%;
    background: $spruce;
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
    border: none;
    margin-top: 35px;
}

