

main a.button, a:visited, a:link{
    text-decoration: none;
}
.module-1{
    width: 100%;
    background: $dbg;
    padding: 190px 0;
}

.module-1-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        h3{
            text-align: center;
            margin-bottom: 20px;
        }
        p{
            width: 90%;
        }
}

.module-1-flex a.button{
    color: black;
    background: $robin;
}

// spruce box with two images, two text boxes

.module2{
    background: $spruce;
    position: relative;
}

.top-row, img .bottom-row img{
    width: 100%;
}

.top-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.module2-info1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 60px;
    width: 50%;
    p{
        width: 80%;
    }
}

.bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 35px;
}

.module2-img1 img{
    box-shadow: 23px 20px 0px 0px $robin;
    width: 100%;
}

.module2-img2 img{
    box-shadow: -23px 23px 0px $robin;
    width: 100%;
}

.module2-img1, .module2-img2{
    width: 45%;
}

.module2-img1{
    position: relative;
    top: -20px;
}

.module2-img2{
    position: relative;
    bottom: -30px;
}

.module2-info2{
    order: -1;
    text-align: right;
    width: 50%;
    margin-top: 120px;
    padding-left: 35px;
    width: 45%;
}

.module2 a.button{
    color: #fff;
    background: $dbg;
}


// services section

.services{
    background: $dbg;
    padding: 100px;
}

.services-flex{
    display: flex;
    flex: 1 0 50%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service1, .service2, .service3, .service4{
    position: relative;
    width: 50%;
    p{
        width:80%;
        clear: both;
        margin-left: 65px;
    }
    margin: 15px 0;
}

.services-flex h4{
    float: left;
    width: 40%;
}

.services-flex i{
    float: left;
    color: $dbg;
    padding: 0.5em;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $robin;
    margin-right: 25px;
}

// banner image

.banner-home-page{
    width: 100%;
    background: $dbg;
}

.banner-home-page img{
    width: 100%;
}

// module 3 with one image and one text box

.module-3{
    width: 100%;
    background: $dbg;
    padding: 70px;
}

.module-3-flex{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.module3-img{
    // flex: 1 0 40%;
    width: 25%;
    
}

.module3-info{
    margin-left: 90px;
    width: calc(75% - 90px);
    padding-left: 20px;
        p{
        margin-bottom: 90px;
        width: 100%;
        }
    }

.module3-img img{
    box-shadow: 30px 30px $robin;
    display: block;
    width: 100%;
}

.module-3 a.button{
    background: $robin;
    color: $dbg;
}

// mini triple-gallery at bottom of page

.triple-gallery{
    width: 100%;
    background: $spruce;
    padding: 50px 10px;
}

.mini-gallery{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.mini-gallery li{
    // width: calc(100% / 3) - 30px;
    // margin: 0 15px;
    flex: 1 0 33.3333%;
    margin: 15px;
}

.mini-gallery img{
    width: 100%;
    display: block;
}

