

// ipad landscape to laptop

@media (min-width: 900px) and (max-width: 1024px){
    .module2-info2{
        margin-top: 15px;
    }
    header.main-header{
        height: 60vh;
    }

    .module-1{
        padding: 80px 0;
    }

    .module2-info1{
        padding: 30px 0;
        padding-left: 10px;
        p{
            width: 90%;
        }
    }

    .module2-info2{
        a.button{
            top: 0px;
        }
    }
}


@media (min-width: 600px) and (max-width: 900px){

    header{
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
    }

    nav{
        display: flex;
        justify-content: flex-end;
    }
    header i.fa-bars, input.hamburger-menu{
    display: block;
    font-size: 40px;
    padding-right: 20px;
    }

    .top-nav{
        display: none;
    }

    .hero-hed{
        padding-left: 30px;
    }

    h1{
        font-size: 5rem;
    }

    .module-1{
        padding: 80px 0;
    }

    .module2-info2{
        margin-top: 15px;
    }

    .hero-image{
        padding-top: 50px;
    }

    .top-row, .bottom-row {
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }
    .module2-info1, .module2-info2, .module2-img1, .module2-img2{
        width: 100%;
    }

    .module2-info2{
        order: 0;
        text-align: left;
        margin-top: 90px;
    }

     .module2-info1{
        a.button{
            top: 0px;
        }
    }

     .module2-info2{
        a.button{
            top: 0px;
        }
    }

    .services-flex{
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    justify-content: space-around;
    flex-wrap: wrap;
    }

    .service1, .service2, .service3, .service4{
    position: relative;
    width: 100%;
    margin: 15px 0;
    p{
        width:80%;
        clear: both;
        margin-left: 65px;
    }
    h4{
        width: 50%;
    }

    .module-3-flex{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;    }
    
    }

    .module3-img{
    // flex: 1 0 40%;
    width: 75%;
    margin-bottom: 45px;
    
    }

    div.module3-info{
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
        h3{
            width: 100%;
            font-size: 1.9rem;
            margin-top: 10px;
        }
        p{
        margin-bottom: 30px;
        width: 100%;
        }
    margin-left: 0;
    }

.module3-img img{
    box-shadow: 30px 30px $robin;
    display: block;
    width: 100%;
}

.mini-gallery{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.mini-gallery li{
    // width: calc(100% / 3) - 30px;
    // margin: 0 15px;
    flex: 1 0 100%;
    margin: 15px;
}

.mini-gallery img{
    width: 100%;
    display: block;
}

}

@media (max-width: 600px){

    html{
        font-size: 110%;
    }

    header{
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
    }

    nav{
        display: flex;
        justify-content: flex-end;
    }
    header i.fa-bars, input.hamburger-menu{
    display: block;
    font-size: 40px;
    padding-right: 20px;
    }

    nav{
        padding-bottom: 20px;
    }

    .top-nav{
        display: none;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }


    .hero-hed{
        width: 100%;
        margin-bottom: 50px;
        h1{
            font-size: 4.5rem;
            width: 30%;
            line-height: 4.2rem;
        }
    }

    .hero-image{
        width: 80%;
        position: static;
        align-self: flex-end;
    }

    .module-1{
        padding: 60px 0;
    }

    .top-row, .bottom-row {
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }
    .module2-info1, .module2-info2, .module2-img1, .module2-img2{
        width: 100%;
    }

    .module2-info2{
        order: 0;
        text-align: left;
        margin-top: 90px;
    }

     .module2-info1{
        padding-left: 20px;
            a.button{
                top: 0px;
                    }
            p{
                width: 95%;
            }
        
    }

     .module2-info2{
        padding-left: 20px;
            a.button{
                top: 0px;
            }
            p{
                width: 95%;
            }
    }

    .services-flex{
    display: flex;
    flex-direction: column;
    // flex: 1 0 50%;
    justify-content: space-around;
    flex-wrap: wrap;
    }

    .service1, .service2, .service3, .service4{
    position: relative;
    width: 100%;
    margin: 15px 0;
    p{
        width:80%;
        clear: both;
        margin-left: 65px;
    }
    h4{
        width: 50%;
    }
}
    .module-3-flex{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;    }
    


    .module3-img{
    // flex: 1 0 40%;
    width: 75%;
    margin-bottom: 45px;
    
    }

    div.module3-info{
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
        h3{
            width: 100%;
            font-size: 1.9rem;
            margin-top: 10px;
        }
        p{
        margin-bottom: 30px;
        width: 100%;
        }
    margin-left: 0;
    }

    .mini-gallery{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    }

    .mini-gallery li{
    // width: calc(100% / 3) - 30px;
    // margin: 0 15px;
    flex: 1 0 100%;
    margin: 15px;
    }

    .mini-gallery img{
    width: 100%;
    display: block;
    }
}

@media (max-width: 500px){
    
    .module-1-flex span{
        display: block;
        margin-top: 10px;
    }
    
    
    .services-flex{
    display: flex;
    flex-direction: column;
    // flex: 1 0 50%;
    // justify-content:;
    // flex-wrap: wrap;
    }

    .services-flex i{
    float: left;
    color: $dbg;
    padding: 0.5em;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $robin;
    margin-right: 10px;
}

    .service1, .service2, .service3, .service4{
    position: relative;
    width: 100%;
    margin: 15px 0;
        p{
            width:80%;
            clear: both;
            margin-left: 10px;
            padding-top: 15px;
        }
        h4{
            width: 75%;
        }
}
}