article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6.9rem;
  line-height: 6.3rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

body {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
}

img {
  display: block;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../assets/header-image.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.9)), url("../assets/header-image.jpg");
  background-size: cover;
  height: 90vh;
  width: 100%;
}

nav {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 80px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 75px;
}

nav ul li {
  padding: 0 22px;
}

nav ul a {
  color: white;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-hed {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.hero-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.hero-image img {
  width: 100%;
}

.module-1 {
  width: 100%;
  background: #0c1423;
  padding: 120px 0;
}

.module-1-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.module-1-flex h3 {
  text-align: center;
  margin-bottom: 20px;
}

.module-1-flex p {
  width: 90%;
}

.module-1-flex a.button {
  color: black;
  background: #86e0f9;
}

.module2 {
  background: #0f614e;
}

.top-row, img .bottom-row img {
  width: 100%;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.module2-info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 60px;
  padding-left: 60px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.module2-img1 img, .module2-img2 img {
  width: 100%;
}

.module2-img1 img {
  -webkit-box-shadow: 20px 20px 0px #86e0f9;
          box-shadow: 20px 20px 0px #86e0f9;
}

.module2-img2 img {
  -webkit-box-shadow: -20px 20px 0px #86e0f9;
          box-shadow: -20px 20px 0px #86e0f9;
}

.module2-img1, .module2-img2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.module2-info2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-align: right;
  padding-right: 50px;
  padding-top: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding-top: 60px;
  padding-left: 60px;
}

.module2 a.button {
  color: #fff;
  background: #0c1423;
}

.services {
  background: #0c1423;
  padding: 80px;
}

.services-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service1, .service2, .service3, .service4 {
  position: relative;
  width: 50%;
  margin: 15px 0;
}

.service1 p, .service2 p, .service3 p, .service4 p {
  width: 80%;
  clear: both;
}

.services-flex h4 {
  float: left;
  width: 40%;
}

.services-flex i {
  float: left;
  color: #0c1423;
  padding: 0.5em;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #86e0f9;
  margin-right: 25px;
}

.banner-home-page {
  width: 100%;
}

.banner-home-page img {
  width: 100%;
}
