article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border: 2px solid tomato;
}

h1, h2, h3, h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6.9rem;
  line-height: 6.3rem;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
}

body {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 20px;
}

img {
  display: block;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("../assets/header-image.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.9)), url("../assets/header-image.jpg");
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: relative;
}

nav {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 120px;
}

header i.fa-bars, input.hamburger-menu {
  display: none;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 75px;
}

nav ul li {
  margin: 0 28px;
}

nav ul a {
  color: white;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  -webkit-transition: none;
  transition: none;
}

nav ul a:hover {
  border-bottom: 5px groove #0f614e;
  padding-bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-hed {
  width: 40%;
}

.hero-hed h1 {
  width: 30%;
}

.hero-image {
  width: 50%;
  position: absolute;
  right: 0;
}

.hero-image img {
  width: 100%;
}

.blog-header {
  background: url("../assets/blog-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  height: 80vh;
}

.h2-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: -50px;
}

main a.button, a:visited, a:link {
  text-decoration: none;
}

.module-1 {
  width: 100%;
  background: #0c1423;
  padding: 190px 0;
}

.module-1-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.module-1-flex h3 {
  text-align: center;
  margin-bottom: 20px;
}

.module-1-flex p {
  width: 90%;
}

.module-1-flex a.button {
  color: black;
  background: #86e0f9;
}

.module2 {
  background: #0f614e;
  position: relative;
}

.top-row, img .bottom-row img {
  width: 100%;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.module2-info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 60px;
  padding-left: 60px;
  width: 50%;
}

.module2-info1 p {
  width: 80%;
}

.module2-info1 a.button {
  position: relative;
  top: 25px;
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-bottom: 35px;
}

.module2-img1 img {
  -webkit-box-shadow: 23px 20px 0px 0px #86e0f9;
          box-shadow: 23px 20px 0px 0px #86e0f9;
  width: 100%;
}

.module2-img2 img {
  -webkit-box-shadow: -23px 23px 0px #86e0f9;
          box-shadow: -23px 23px 0px #86e0f9;
  width: 100%;
}

.module2-img1, .module2-img2 {
  width: 45%;
}

.module2-img1 {
  position: relative;
  top: -20px;
}

.module2-img2 {
  position: relative;
  bottom: -30px;
}

.module2-info2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-align: right;
  width: 50%;
  margin-top: 120px;
  padding-left: 35px;
  width: 45%;
}

.module2-info2 a.button {
  position: relative;
  top: 35px;
}

.module2 a.button {
  color: #fff;
  background: #0c1423;
}

.services {
  background: #0c1423;
  padding: 100px 25px;
}

.services-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service1, .service2, .service3, .service4 {
  position: relative;
  width: 50%;
  margin: 15px 0;
}

.service1 p, .service2 p, .service3 p, .service4 p {
  width: 80%;
  clear: both;
  margin-left: 65px;
}

.services-flex h4 {
  float: left;
  width: 40%;
}

.services-flex i {
  float: left;
  color: #0c1423;
  padding: 0.5em;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #86e0f9;
  margin-right: 25px;
}

.banner-home-page {
  width: 100%;
  background: #0c1423;
}

.banner-home-page img {
  width: 100%;
}

.module-3 {
  width: 100%;
  background: #0c1423;
  padding: 70px;
}

.module-3-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.module3-img {
  width: 25%;
}

.module3-info {
  margin-left: 90px;
  width: calc(75% - 90px);
  padding-left: 20px;
}

.module3-info p {
  margin-bottom: 90px;
  width: 100%;
}

.module3-img img {
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
  display: block;
  width: 100%;
}

.module-3 a.button {
  background: #86e0f9;
  color: #0c1423;
}

.triple-gallery {
  width: 100%;
  background: #0f614e;
  padding: 50px 10px;
}

.mini-gallery {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}

.mini-gallery li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 31%;
          flex: 1 0 31%;
  margin: 15px;
}

.mini-gallery img {
  width: 100%;
  display: block;
}

.blog-main {
  background: #0c1423;
  width: 100%;
}

.blog-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-post-side-bar {
  width: 35%;
  padding-top: 80px;
  position: relative;
  margin-right: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-image {
  width: 100%;
  position: relative;
  left: 0;
  z-index: 10;
}

.aside-image img {
  display: block;
  width: 100%;
  z-index: 10;
}

.aside-info {
  background: #0f614e;
  width: 80%;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: 17px;
  z-index: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.aside-image::before {
  content: "";
  display: block;
  border-right: 15px solid #0f614e;
  width: 50px;
  height: 100%;
  position: absolute;
  right: -17px;
  margin-top: 10px;
}

.aside-info-box, .aside-recent-posts {
  margin: 20px 20px;
}

.aside-recent-posts a {
  color: #fff;
}

.blog-entry {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -390px;
  right: 0px;
  padding-left: 50px;
  margin-bottom: -350px;
}

.blog-image {
  width: 100%;
}

.blog-image img {
  width: 100%;
  -webkit-box-shadow: -20px 20px 0 2px #86e0f9;
          box-shadow: -20px 20px 0 2px #86e0f9;
}

.blog-text {
  padding-left: 19px;
  width: 80%;
  position: relative;
}

.blog-text::before {
  content: '';
  border-left: 5px solid #86e0f9;
  height: 100%;
  display: block;
  position: absolute;
  left: -22px;
  top: 0px;
}

.blog-text::after {
  content: '';
  border-bottom: 5px solid #86e0f9;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
  left: -22px;
}

.blog-text h3 {
  margin-top: 50px;
  padding-left: 20px;
}

.byline {
  padding-bottom: 30px;
}

.blog-text p {
  width: 90%;
  text-align: left;
  padding-left: 20px;
}

.comment-area {
  width: 80%;
}

.comment-area h4 {
  padding-top: 30px;
  margin-bottom: 35px;
}

.comment-area p {
  width: 80%;
  float: left;
}

.comment-area .comment-date {
  margin-top: 0;
}

.comment-area img {
  float: left;
  margin-right: 25px;
  width: 10%;
}

.comment-box {
  width: 100%;
}

.comment-box input[type=text], input[type=email] {
  width: 50%;
  border: none;
  background: white;
  float: left;
  color: #fff;
  background: none;
  border-bottom: 2px solid #86e0f9;
  padding-bottom: 25px;
}

.comment-box input[type=text] {
  width: calc(60% - 25px);
  margin-right: 25px;
  position: relative;
}

.comment-box input[type=email] {
  width: 40%;
  position: relative;
}

::-webkit-input-placeholder {
  color: #fffdfd;
}

:-ms-input-placeholder {
  color: #fffdfd;
}

::-ms-input-placeholder {
  color: #fffdfd;
}

::placeholder {
  color: #fffdfd;
}

.comment-box textarea {
  clear: both;
  width: 100%;
  margin-top: 40px;
  border: 1px solid #86e0f9;
  background: none;
  resize: none;
}

.comment-box button[type=submit] {
  clear: both;
  display: block;
  width: 100%;
  background: #0f614e;
  text-align: center;
  color: white;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  border: none;
  margin-top: 35px;
}

.comment-box input:focus, textarea:focus {
  background: #86e0f9;
}

html {
  background: #0c1423;
}

header.contact-header {
  background: url("../assets/contact-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.contact-sheet {
  background: #0c1423;
  width: 100%;
  padding-bottom: 100px;
}

.social-box {
  width: 25%;
}

.icon-list {
  width: 35%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.icon-list a, a:link, a:visited {
  text-decoration: none;
  color: white;
}

.social-box p {
  margin: 0;
}

.social-box h4 {
  margin-bottom: 25px;
  font-size: 1.2rem;
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container {
  width: calc(65% - 30px);
  margin-left: 30px;
  background: #0f614e;
  padding: 80px 50px;
  -webkit-box-shadow: -35px 35px 0 -2px #86e0f9;
          box-shadow: -35px 35px 0 -2px #86e0f9;
  color: white;
  position: absolute;
  top: 250px;
  right: 80px;
}

.contact-container textarea {
  padding: 15px;
}

.contact-container button[type=submit] {
  background: #0c1423;
}

.h2-flex-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: -10px;
}

footer {
  width: 100%;
  background: #86e0f9;
}

footer p {
  color: black;
  text-align: center;
  margin: 0;
}

@media (min-width: 900px) and (max-width: 1024px) {
  .module2-info2 {
    margin-top: 15px;
  }
  header.main-header {
    height: 60vh;
  }
  .module-1 {
    padding: 80px 0;
  }
  .module2-info1 {
    padding: 30px 0;
    padding-left: 10px;
  }
  .module2-info1 p {
    width: 90%;
  }
  .module2-info2 a.button {
    top: 0px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  header {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    -o-object-fit: contain;
       object-fit: contain;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header i.fa-bars, input.hamburger-menu {
    display: block;
    font-size: 40px;
    padding-right: 20px;
  }
  .top-nav {
    display: none;
  }
  .hero-hed {
    padding-left: 30px;
  }
  h1 {
    font-size: 5rem;
  }
  .module-1 {
    padding: 80px 0;
  }
  .module2-info2 {
    margin-top: 15px;
  }
  .hero-image {
    padding-top: 50px;
  }
  .top-row, .bottom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  .module2-info1, .module2-info2, .module2-img1, .module2-img2 {
    width: 100%;
  }
  .module2-info2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    text-align: left;
    margin-top: 90px;
  }
  .module2-info1 a.button {
    top: 0px;
  }
  .module2-info2 a.button {
    top: 0px;
  }
  .services-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service1, .service2, .service3, .service4 {
    position: relative;
    width: 100%;
    margin: 15px 0;
  }
  .service1 p, .service2 p, .service3 p, .service4 p {
    width: 80%;
    clear: both;
    margin-left: 65px;
  }
  .service1 h4, .service2 h4, .service3 h4, .service4 h4 {
    width: 50%;
  }
  .service1 .module-3-flex, .service2 .module-3-flex, .service3 .module-3-flex, .service4 .module-3-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .module3-img {
    width: 75%;
    margin-bottom: 45px;
  }
  div.module3-info {
    width: 100%;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  div.module3-info h3 {
    width: 100%;
    font-size: 1.9rem;
    margin-top: 10px;
  }
  div.module3-info p {
    margin-bottom: 30px;
    width: 100%;
  }
  .module3-img img {
    -webkit-box-shadow: 30px 30px #86e0f9;
            box-shadow: 30px 30px #86e0f9;
    display: block;
    width: 100%;
  }
  .mini-gallery {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .mini-gallery li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    margin: 15px;
  }
  .mini-gallery img {
    width: 100%;
    display: block;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 110%;
  }
  header {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    -o-object-fit: contain;
       object-fit: contain;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header i.fa-bars, input.hamburger-menu {
    display: block;
    font-size: 40px;
    padding-right: 20px;
  }
  nav {
    padding-bottom: 20px;
  }
  .top-nav {
    display: none;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-hed {
    width: 100%;
    margin-bottom: 50px;
  }
  .hero-hed h1 {
    font-size: 4.5rem;
    width: 30%;
    line-height: 4.2rem;
  }
  .hero-image {
    width: 80%;
    position: static;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .module-1 {
    padding: 60px 0;
  }
  .top-row, .bottom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
  .module2-info1, .module2-info2, .module2-img1, .module2-img2 {
    width: 100%;
  }
  .module2-info2 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    text-align: left;
    margin-top: 90px;
  }
  .module2-info1 {
    padding-left: 20px;
  }
  .module2-info1 a.button {
    top: 0px;
  }
  .module2-info1 p {
    width: 95%;
  }
  .module2-info2 {
    padding-left: 20px;
  }
  .module2-info2 a.button {
    top: 0px;
  }
  .module2-info2 p {
    width: 95%;
  }
  .services-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service1, .service2, .service3, .service4 {
    position: relative;
    width: 100%;
    margin: 15px 0;
  }
  .service1 p, .service2 p, .service3 p, .service4 p {
    width: 80%;
    clear: both;
    margin-left: 65px;
  }
  .service1 h4, .service2 h4, .service3 h4, .service4 h4 {
    width: 50%;
  }
  .module-3-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .module-3 {
    padding: 40px 25px;
  }
  .module3-img {
    width: 75%;
    margin-bottom: 45px;
  }
  div.module3-info {
    width: 100%;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  div.module3-info h3 {
    width: 100%;
    font-size: 1.9rem;
    margin-top: 10px;
  }
  div.module3-info p {
    margin-bottom: 30px;
    width: 100%;
  }
  .mini-gallery {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .mini-gallery li {
    width: 50%;
  }
  .mini-gallery img {
    width: 100%;
    display: block;
  }
  .mini-gallery li:first-of-type {
    display: none;
  }
}

@media (max-width: 500px) {
  .module-1-flex span {
    display: block;
    margin-top: 10px;
  }
  figure.banner-home-page {
    display: none;
  }
  section.services {
    padding-bottom: 40px;
  }
  .services-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services-flex i {
    float: left;
    color: #0c1423;
    padding: 0.5em;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #86e0f9;
    margin-right: 10px;
  }
  .service1, .service2, .service3, .service4 {
    position: relative;
    width: 100%;
    margin: 15px 0;
  }
  .service1 p, .service2 p, .service3 p, .service4 p {
    width: 80%;
    clear: both;
    margin-left: 10px;
    padding-top: 15px;
  }
  .service1 h4, .service2 h4, .service3 h4, .service4 h4 {
    width: 75%;
  }
  .module3 {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .blog-header {
    height: 40vh;
  }
  .blog-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .blog-entry, .blog-post-side-bar {
    width: 90%;
    position: static;
    margin: 20px auto;
  }
  .blog-entry {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    top: 10px;
    padding-left: 20px;
  }
  .blog-text {
    width: 100%;
  }
  .blog-post-side-bar {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-top: 0px;
  }
  .comment-area {
    width: 100%;
  }
  .comment-area .comment-a, .comment-area .comment-b {
    margin: 20px 0;
  }
  .comment-box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header.contact-header {
    height: auto;
  }
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
    padding: 0 20px;
    width: 100%;
  }
  .contact-container, .social-box {
    position: static;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
  }
  .social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    -webkit-box-shadow: 0;
            box-shadow: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-box {
    display: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container {
    padding: 0;
    position: static;
    -webkit-box-shadow: -10px 15px 0 0 #86e0f9;
            box-shadow: -10px 15px 0 0 #86e0f9;
  }
  .contact-container textarea {
    padding: 0;
  }
  .contact-sheet {
    padding-bottom: 60px;
    width: 100%;
  }
  .comment-box {
    -webkit-box-shadow: 0;
            box-shadow: 0;
    width: 90%;
    margin: 0 auto;
  }
  .comment-box-large {
    padding-bottom: 50px;
  }
}
